* {
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: center;
    font-family: Raleway, sans-serif;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
}


