* {
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: center;
    font-family: Raleway, sans-serif;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
}

li {
    list-style: none;
}

article {
    padding-top: 20px;
}

footer {
    font-size: 10px;
    padding-top: 30px;
}
